<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.razatech.edr.firstrun</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Library/Application Support/EDR/first-run-permissions.sh</string>
		<string>--login</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardOutPath</key>
	<string>/Library/Application Support/EDR/first-run-launchagent.log</string>
	<key>StandardErrorPath</key>
	<string>/Library/Application Support/EDR/first-run-launchagent.err</string>
</dict>
</plist>
